div {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}

#tiles {
    padding: 15px;
    display: inline-block;
    background-color: #454545;
    border-radius: 5px;
    text-align: center;
}

div.row {
    line-height: 0;
}

div.tile {
    display: inline-block;
    line-height: 0;
}

#menu {
    margin: 10px auto;
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    background-color: #454545;
    display: block;
}

button {
    font-size: 24px;
    color: white;
    background-color: grey;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: blue;
}




